<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="../assets/images/bckg.png">

  <div>
    <button (click)="playJokenpo()" class="btn btn-primary">Play Game </button>
  </div>
</div>

<router-outlet></router-outlet>


<div id="mymodal" class="modal fade" tabindex="1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Result Match</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col">Player</th>
                  <th scope="col">Victories</th>
                  <th scope="col">Defeats</th>
                  <th scope="col">Draws</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let result of results">
                  <td> {{ result.playerName }}</td>
                  <td> {{ result.victories }}</td>
                  <td> {{ result.defeats }}</td>
                  <td> {{ result.empates }}</td>
                </tr>
              </tbody>
            </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeResultMatchModal()">Close</button>
      </div>
    </div>
  </div>
  </div>